* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.seccion{
    text-align: center;
}
.seccion__titulo1{
    color: slateblue;
}

.pie {
    text-align: center;
    margin-top: 20%;
}

.pie--derecho{
    color: springgreen;
}

.nav__contenedor{
    padding: 10px;
    background-color: #3a3a3a;
    text-align: center;
}

.nav__item {
    list-style: none;
    display: inline-block;
    padding-left: 55px;
}

.nav__item a {
    text-decoration: none;
    color: white;
}

.nav__item a:hover{
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 12px;
}

.nav__item a::after {
    content: " | ";
}